.root { 
  -fx-background-color: #00749b;
}

.header {
  -fx-padding: 25px;
  -fx-background-color: #0099cc;
  /* -fx-background-color: #252b2b; */
}

.footer {
  -fx-padding: 15px;
  -fx-background-color: #252b2b;
}

.content {
  -fx-padding: 15px;
}

/* .root { */
/*      -fx-background-image: url("background.jpg"); */
/* } */

GridPane {
  -fx-background-color: white;
  -fx-padding: 15px;
}

Label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  /* -fx-text-fill: #ffffff; */
  -fx-text-fill: #333333;
  /* -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); */
}

.heading {
  -fx-font-size: 32px;
  /* -fx-font-family: "Arial"; */
  /* -fx-font-weight: bold; */
  -fx-fill: #ffffff;
  /* -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); */
}

#errorText {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
  -fx-text-fill: white;
  /* -fx-font-family: "Arial"; */
  -fx-font-weight: bold;
  -fx-background-color: #0099cc;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
  -fx-background-color: #00bfff;
}